<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Users</title>
</head>
<body>
	<h1>Users</h1>
	<div th:if="${users.isEmpty()}">
		There are no users registered yet.
	</div>
	<table th:if="${!users.isEmpty()}">
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${users}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.lastname}"></td>
				<td th:text="${user.email}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>